<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bandas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/led-zeppelin.jpg">
    <ion-card-header>
      <ion-card-subttitle>
        Banda de Rock & Roll
      </ion-card-subttitle>
      <ion-card-tittl>
        Led Zeppelin
      </ion-card-tittl>
    </ion-card-header>
    <iom-card-content>
      Led Zeppelin fue un grupo británico de hard rock fundado en 1968 por el guitarrista Jimmy Page, quien había pertenecido
      a The Yardbirds. La banda estuvo integrada por John Paul Jones como bajista y teclista, el vocalista Robert Plant y John
      Bonham a la batería (que había coincidido con Plant en The Band of Joy).
    </iom-card-content>
  </ion-card>
</ion-content>
